<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>

  <head>
    <title>
    </title>
    
    <style>
       .card {
        heigth: 400px;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        margin-top: 20px;
        background-image: url('{{superHero.imageUrl}}');
        background-size: cover;
      }

      .inner {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div>
        <h2>{{superHero.name}}</h2>
        <div class="card">
            <div class="inner ">
                <ul>
                    {{#each superHero.powers}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
  </body>

</html>